/* Add animation for card load */
.card-container {
  min-height: 200px;
}
/* Button and Button Container Styling */
.custom-button {
  background: linear-gradient(
    rgba(110, 49, 154, 0.66),
    rgba(110, 49, 154, 0.33)
  );
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
  border: none;
  margin-right: 10px;
}

.custom-button:hover {
  background: linear-gradient(
    rgba(110, 49, 154, 0.33),
    rgba(110, 49, 154, 0.66)
  );
}

.button-container {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
